.article {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 980px;
  margin: 0 auto 30px;
}

.article h1 {
  margin: 15px 0;
  line-height: 1.3;
}

.article h2 {
  margin-top: 50px;
}

.article p,
.article li {
  text-align: justify;
  font-size: 17px;
  line-height: 1.7;
}

.article a {
  font-weight: bold;
  color: #0080a8;
  text-decoration: none;
}

.article blockquote {
  background-color: #c2cbd269;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 15px;
  text-align: justify;
}

.article img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.article hr {
  color: #c2cbd2;
}

.article-info {
  margin-bottom: 40px;
}

.article-info span {
  margin-right: 30px;
  font-size: 14px;
}

.article-author {
  cursor: pointer;
}

.article-tags {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.article-tags span {
  background-color: #003135;
  padding: 1px 5px;
  border-radius: 5px;
  color: #f5efe6;
  font-size: 11px;
  cursor: pointer;
}

.article-image {
  padding: 100px 20px 5px;
  margin: -20px;
  background-size: cover;
  background-repeat: no-repeat; 
}

@media screen and (max-width: 1080px) {
  .article {
    margin-inline: 30px;
  }
}

@media screen and (max-width: 560px) {
  .article {
    margin: 0 10px 20px;
    padding: 15px;
  }

  .article h1 {
    margin: 5px 0;
    font-size: 28px;
  }

  .article h2 {
    font-size: 21px;
    margin-top: 35px;
  }

  .article p,
  .article li {
    font-size: 15px;
  }

  .article ul {
    padding-left: 15px;
  }

  .article blockquote {
    padding: 1px 15px;
    margin: 10px 0;
    font-size: 14px;
  }

  .article-info span {
    margin-right: 15px;
    font-size: 12px;
  }

  .article-image {
    padding: 80px 15px 5px;
    margin: -15px;
  }
}