.editor {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.comments-list > .editor {
  margin-bottom: 10px;
}

.editor > textarea {
  font-size: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  resize: none;
  width: calc(100% - 38px);
  padding: 18px 18px 0;
  overflow: hidden;
  border: 2px solid #003135;
  font-family: inherit;
  height: 47px;
  background-color: #f4f2ef;
}

.editor-authentication > input {
  border-radius: 5px;
  border: 2px solid #003135;
  font-family: inherit;
  font-size: 15px;
  background-color: #f4f2ef;
  padding-left: 10px;
  margin-right: 10px;
  width: 120px;
}

@media screen and (max-width: 1080px) {
  .editor {
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 560px) {
  .editor {
    margin-bottom: 40px;
    gap: 5px;
  }

  .editor > textarea {
    font-size: 13px;
    padding: 10px 10px 0;
    width: 100%;
    height: 34px;
  }

  .editor-authentication {
    width: 120px;
  }

  .editor-authentication > input {
    font-size: 13px;
    height: 21px;
    margin-bottom: 5px;
    width: 120px;
  }
}
