.comment-section {
  max-width: 1020px;
  margin: 0 auto;
  height: fit-content;
  top: 0;
}

.comment-replies {
  padding-left: 30px;
}

.comment-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  margin: 0 auto 10px;
  background-color: #f4f2ef;
  height: fit-content;
}

.comment-user {
  font-weight: bold;
  font-size: 17.5px;
  display: flex;
  justify-content: space-between;
}

.comment-modify,
.comment-delete  {
  cursor: pointer;
  font-size: 13px;
  margin-left: 5px;
}

.comment-text {
  padding-left: 10px;
  font-size: 16px;
}

@media screen and (max-width: 1080px) {
  .comment-section {
    margin-inline: 30px;
  }

  .comment-replies {
    padding-left: 20px;
  }

  .comment-user {
    font-size: 16.5px;
  }

  .comment-text {
    font-size: 14.5px;
  }
}

@media screen and (max-width: 560px) {
  .comment-section {
    margin-inline: 10px;
  }

  .comment-card {
    padding: 5px 12px;
    margin: 0 auto 6px;
  }

  .comment-user {
    font-size: 15px;
  }

  .comment-text {
    padding-left: 0;
    font-size: 14px;
  }
}